h1 {
  color: #008080;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
  background-color: #ffb6c1;
}

.todo {
  padding-bottom: 10px;
}

.todo__input {
  margin-bottom: 25px;
}

.block__row {
  display: flex;
  height: 30px;
}

.elem-1 {
  text-align: center;
  display: flex;
}

.elem-2 {
  flex: 1 1 auto;
  text-align: center;
}

.elem-3 {
  width: 100px;
  text-align: center;
}

.block__content-1,
.block__content-2,
.block__content-3 {
  margin: auto;
}

.all-check {
  width: 30px;
}

.input__text,
.add-todo {
  height: 100%;
  border: 0;
  border-radius: 15px;
}

.input__text {
  width: 100%;
  margin: 0;
  padding: 0px 20px;
  outline: none;
}

.add-todo {
  width: 80%;
  background-color: #00ff00;
  color: black;
}

.add-todo:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px #ff1493;
  border-radius: 15px;
}

.add-todo:active {
  transform: translateY(-0px);
  box-shadow: 0 0;
}

.item-list {
  background-color: #ffff00;
  margin: 20px 0;
  border: 0;
  border-radius: 10px;
  outline: none;
}

.checked {
  background-color: #7cfc00;
}

.b__row {
  display: flex;
  padding: 10px 0;
}

.b__element {
  height: 100%;
  margin: auto;
}

.el-1 {
  min-width: 30px;
  min-height: 25px;
  text-align: center;
  display: flex;
}

.el-2 {
  flex: 1 1 auto;
  display: flex;
  max-width: 550px;
}

.el-3 {
  min-width: 50px;
  text-align: center;
  display: flex;
}

.b-cont-1 {
  margin: auto;
}

.b-cont-2 {
  word-break: break-all;
  max-width: 550px;
}

.b-cont-3 {
  margin: auto;
}

.button-check {
  width: 30px;
}

.message {
  margin: auto;
}

.button-delete {
  margin: auto;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 15px;
  background-color: #b22222;
  color: black;
  font-size: 25px;
  font-family: monospace;
  line-height: 2px;
}
.counters {
  cursor: default;
}
.counters-item {
  border: 0;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 10px;
}

.counter-complete,
.counter-all,
.counter-act {
  background-color: #ffff00;
}
.tab-click {
  background-color: #00ff00;
}

.page-link,
.page-link:hover {
  cursor: default;
  color: #ff1493;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link {
  color: black;
  background-color: #ff1493;
  border-color: #ff1493;
}

.style-edit {
  min-width: 550px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 0 10px;
}

button:not(:disabled) {
  cursor: default;
}

.btn-danger {
  color: black;
}

.block-row {
  display: flex;
  flex-wrap: wrap;
}

.block-column {
  width: 45px;
  text-align: center;
  margin-bottom: 5px;
}
